.feed {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60ch;
    padding-top: 20px;
}

.new-post textarea {
    resize: none;
}

.hidden {
    display: none;
}