.feed {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    width: 70ch;
}

.new-post textarea {
    resize: none;
}

.hidden {
    display: none;
}

.new-post {
    display: flex;
    flex-direction: column;
}