.friends {
    width: 50ch;
    padding: 10px;
}

.friends form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.friends textarea {
    resize: none;
}

.friends ul {
    list-style: none;
    padding: 0;
}

.friends li {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 5px;
}

.friends p {
    grid-column: 1/-1;
    padding-left: 20px;
}

.friends li button {
    background:none;
    border: 0;
}

.friends li button:hover {
    filter: invert() brightness(0.5);
}