header {
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 1px 5px black;
    box-sizing:border-box;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo .image {
    flex: 1;
}

.logo button {
    padding: 0;
    margin: 0;
    background-color: white;
}

.man {
    color:rgb(230, 187, 0);
}

.robo {
    color:rgb(0, 153, 255);
}

.menu {
    position: relative;
    display: none;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin:0;
    position: absolute;
    right:0;
    top:100%;
}

.menu li {
    background-color: hsl(200deg,100%,90%);
    padding: 15px;
}

.menu li:hover {
    filter: brightness(0.8);
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    font-size: 24px;
    color: rgb(57, 44, 65);
}

.menu ul.hidden {
    display: none;
}

@media (max-width:860px) {
    .menu {
        display: block;
    }
  }