.thread {
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    padding-bottom: 20px;
}

.post > div{
    padding: 0 30px;
    display: grid;
    grid-template-columns: 50px 1fr auto;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid gray;
}

.post img.profile {
    justify-self: center;
}

.post button.options img {
    width: 30px;
}

button.options {
    background:none;
    border: none;
    justify-self: end;
}

button.options:hover {
    filter: invert() brightness(0.5);
}

.post > div > p {
    grid-column: 2/-1;
    margin-top: 0;
}

.post .date {
    grid-column: 3/-1;
    justify-self: end;
    color: rgb(99, 99, 99);
}

.post:first-child p {
    font-size: 150%;
}

.post:not(:first-child) h1 {
    font-size: 100%;
}

.post:not(:first-child) img.profile {
    width: 40px;
}

.post:not(:first-child) > div {
    padding-left: 50px;
    padding-top: 10px;
    border-left: 10px solid black;
}

.reply-form {
    position: relative;
    grid-column: 2/3;
}

.reply-form .reply {
    z-index: 2;
    position: absolute;
    background-color: hsl(200deg,100%,80%);
    padding: 5px;
    border-radius: 5px;
}

.reply-form button {
    font-size: 14px;
}